img {
  max-width: 50vw;
}

@media only screen and (min-width: 900px) {
  img {
    max-width: 20rem;
    max-height: 20rem;
  }

  div {
    max-width: unset;

    display: grid;
    justify-content: center;
    grid-template-columns: 20em 15em 25em;
    grid-template-areas: "avatar name nameinput" "avatar email emailinput" "avatar change changeinput";
  }

  input {
    width: unset;
  }

}




