<h1 class="text-align">Profil</h1>
<div class="flex-column align-items-center mvw-80">
  <span class="text-align" style="grid-area: avatar;">
    <img [src]="me.avatar | cdnUrl: '/assets/images/Robot.png'" alt="avatar" class="p-4 border-radius-2rem">
  </span>
  <span style="grid-area: name;">Ton nom est :</span>
  <input style="grid-area: nameinput;" value="{{ me.userName }}" disabled>
  <span style="grid-area: email;">Ton email est :</span>
  <input style="grid-area: emailinput;" value="{{ me.email }}" disabled>
  <span style="grid-area: change;">Changer la photo de profil :</span>
  <input style="grid-area: changeinput;" type="file" accept="image/*" [disabled]="isUploadInProgress" (change)="handleAvatarChange($event)" />
</div>
<h3 *ngIf="isUploadInProgress" class="text-align flex-row align-items-center">
  <shared-spinner class="me-2" style="font-size: 1.5em;"/>
  <span>Mise à jour de la photo de profile...</span>
</h3>
