<div class="flex-row gap-5">
  <div class="flex-column flex-fill">
    <label>Equipe 1</label>
    <select [(ngModel)]="team1">
      <option *ngFor="let team of teams" [ngValue]="team">{{team.teamName}}</option>
    </select>
  </div>
  <div class="flex-column flex-fill">
    <label>Equipe 2</label>
    <select [(ngModel)]="team2">
      <option *ngFor="let team of teams" [ngValue]="team">{{team.teamName}}</option>
    </select>
  </div>
</div>

<div class="flex-row gap-5">
  <div class="flex-column flex-fill">
    <label>Date de début</label>
    <input type="datetime-local" [(ngModel)]="startDate" />
  </div>
  <div class="flex-column flex-fill">
    <label>Gagnant</label>
    <select [(ngModel)]="winner">
      <option [ngValue]="'no-one'">Personne</option>
      <option [ngValue]="'team1'">Equipe 1</option>
      <option [ngValue]="'team2'">Equipe 2</option>
    </select>
  </div>
</div>

<div class="flex-row gap-5">
  <div class="flex-column flex-fill">
    <label>Type de match</label>
    <select [(ngModel)]="matchType">
      <option *ngFor="let _matchType of matchTypes" [ngValue]="_matchType.value">{{_matchType.label}}</option>
    </select>
  </div>
  <div class="flex-column flex-fill">
    <label>Score du perdant</label>
    <input type="number" [(ngModel)]="loserScore" min="0" />
  </div>
</div>
