<h1>Gestion des équipes</h1>
<div class="flex-column">
  <label>Team</label>
  <select [(ngModel)]="selectedTeam">
    <option *ngFor="let team of teams" [ngValue]="team">{{ team.teamId }}: {{team.teamName}}</option>
    <option [ngValue]="emptyTeam">--- Nouvelle équipe ---</option>
  </select>
</div>

<div *ngIf="!!selectedTeam" class="flex-column mt-5">
  <team-edit [team]="selectedTeam" />

  <button #saveButton="saveButton" saveButton class="mt-3" (click)="saveTeam()">{{ isNewTeam ? 'Créer' : 'Enregistrer' }}</button>
</div>
