<div class="flex-column">
  <label>Match</label>
  <select [(ngModel)]="selectedMatch">
    <option *ngFor="let match of matches" [ngValue]="match">{{match.matchId}}: {{getMatchTeam1(match)?.teamName}} VS {{getMatchTeam2(match)?.teamName}}</option>
    <option *ngIf="!!emptyMatch" [ngValue]="emptyMatch">--- Nouveau match ---</option>
  </select>
</div>

<div *ngIf="!!selectedMatch" class="flex-column mt-5">
  <match-edit [match]="selectedMatch" [matches]="matches" [teams]="teams" />

  <button #saveButton="saveButton" saveButton class="mt-3" (click)="saveMatch()">{{ isNewMatch ? 'Créer' : 'Enregistrer' }}</button>
</div>
