<h1>Gestion des tournois</h1>
<div class="flex-column">
  <label>Tournoi</label>
  <select [(ngModel)]="tournament">
    <option *ngFor="let tournament of tournaments" [ngValue]="tournament">{{tournament.tournamentName}}</option>
    <option [ngValue]="emptyTournament">--- Nouveau tournoi ---</option>
  </select>
</div>
<ng-container *ngIf="!!tournament">
  <div class="tab-container mt-3 gap-3">
    <button class="tab-button" (click)="selectedTab = 'global'" [class.active]="selectedTab === 'global'">Global</button>
    <button class="tab-button" (click)="selectedTab = 'matches'" [class.active]="selectedTab === 'matches'">Matchs</button>
  </div>

  <admin-tournament-global *ngIf="selectedTab === 'global'"/>
  <admin-tournament-matches *ngIf="selectedTab === 'matches'"/>
</ng-container>
