<div class="tab-container gap-3">
  <button class="tab-button" (click)="selectedTab = 'tournaments'" [class.active]="selectedTab === 'tournaments'">Tournois</button>
  <button class="tab-button" (click)="selectedTab = 'teams'" [class.active]="selectedTab === 'teams'">Equipes</button>
  <button class="tab-button" (click)="selectedTab = 'users'" [class.active]="selectedTab === 'users'">Utilisateurs</button>
</div>

<admin-tournaments *ngIf="selectedTab === 'tournaments'"/>
<admin-teams *ngIf="selectedTab === 'teams'"/>
<admin-users *ngIf="selectedTab === 'users'"/>
