@import "styles/borders";
@import "styles/color";
@import "styles/filter";
@import "styles/flex";
@import "styles/input";
@import "styles/position";
@import "styles/sizing";
@import "styles/spacing";
@import "styles/typography";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700,800);

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
}

body {
  background-color: #e7e6e3;
  background-image: url("src/assets/images/paper2.jpg");
  background-repeat: repeat;
  font-family: Poppins, serif;

  margin: 0;
  padding: 0;

  flex: 1;
  display: flex;

  position: relative;
}

.tab-container {
  display: flex;
}


/*.tab-button {
  width: auto;
  height: auto;
  border: 0;
  margin: 0;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  cursor: pointer;
  border-right: 1px solid var(--primary-default);

  &:hover {
    background-color: var(--primary-default);
    color: var(--primary-contrast-default);
  }

  &.active {
    background-color: var(--valid-default);
    color: var(--valid-constrast-default);
  }

  &:last-child {
    border-right: none;
  }
}*/
