:host {
  width: 1em;
  height: 1em;

  display: inline-block;
}

:host:after {
  content: " ";
  display: block;
  width: .8em;
  height: .8em;
  margin: .1em;
  border-radius: 50%;
  border: 0.075em solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
