<h1 class="text-align">Connexion</h1>

<form ngForm (ngSubmit)="formSubmitted()" class="text-align">
  <div class="flex-column align-items-center">
    <input #loginInput="ngModel" name="login" placeholder="Login" type="text" [(ngModel)]="login" required />
    <span *ngIf="loginInput.touched && !!loginInput.errors && loginInput.errors['required']" class="font-size-07">Le champ est obligatoire.</span>
  </div>
  <div class="flex-column align-items-center">
    <input #passwordInput="ngModel" name="password" placeholder="Password" type="password" [(ngModel)]="password" required />
    <span *ngIf="passwordInput.touched && !!passwordInput.errors && passwordInput.errors['required']" class="font-size-07">Le champ est obligatoire.</span>
  </div>
  <button type="submit" pickomenka-button class="button-big">Se connecter</button>
</form>
