<div class="flex-column p-3 m-2 gap-3">
  <div *ngFor="let item of ranking; index as i;" class="flex-row justify-content-between gap-4">
    <span>{{item.user.userName}} </span>
    <span>{{item.points}} point(s)</span>
  </div>
</div>
