<div class="m-3 p-1 flex-column align-items-center">
  <div class="flex-column gap-4 w-100">
    <ng-container *ngFor="let match of tournamentMatches">
      <match-show [match]="match"
                  [tournament]="tournament"/>
    </ng-container>
  </div>
</div>
