<div class="m-2 p-1 flex-column gap-4 w-100">
  <div *ngFor="let stat of stats" class="flex-row justify-content-center align-items-center gap-2 w-100">
    <div class="flex-column align-items-end w-3-5rem">
      <span class="color-black flex-row align-items-center w-3-5rem position-relative justify-content-end">
        <img *ngIf="stat.winner === stat.team1" class="w-30 position-absolute start-0" src="/assets/images/couronne.png" alt="winner">
        <span>{{stat.teamName1}}</span>
      </span>
      <span class="font-size-07">
        {{stat.statTeam1}}%
      </span>
    </div>
    <shared-progress-bar [progressValue]="stat.statTeam1" class="w-100"></shared-progress-bar>
    <div class="flex-column align-items-start w-3-5rem" >
      <span class="color-pink flex-row align-items-center w-3-5rem position-relative">
        <span>{{stat.teamName2}}</span>
        <img *ngIf="stat.winner === stat.team2" class="w-30 position-absolute end-0" src="/assets/images/couronne.png" alt="winner">
      </span>
      <span class="font-size-07">
        {{stat.statTeam2}}%
      </span>
    </div>
  </div>

</div>

