<span class="date w-100 flex-row justify-content-center">{{ dateMatch | date: 'dd/MM/yy à HH:mm' }}</span>
<div class="flex-row w-100">
  <span class="match-left p-1 flex-row align-items-center justify-content-center w-100 position-relative"
        [class.cant-bet]="!canBet"
        [class.winner]="team1Won"
        [class.loser]="team2Won"
        [class.nobet]="!haveBetOnTeam1"
        [class.bet]="haveBetOnTeam1"
        (click)="betOnTeam1()">
    <span *ngIf="team1Won" class="w-40 flex-row align-items-center justify-content-center position-absolute start-0">
      <img src="/assets/images/couronne.png" alt="winner" class="p-1">
    </span>
    <span class="w-100 text-align">{{ team1?.teamName }}</span>
  </span>
  <span class="match-right p-1 flex-row align-items-center justify-content-center w-100 position-relative"
        [class.cant-bet]="!canBet"
        [class.winner]="team2Won"
        [class.loser]="team1Won"
        [class.nobet]="!haveBetOnTeam2"
        [class.bet]="haveBetOnTeam2"
        (click)="betOnTeam2()">
    <span class="w-100 text-align">{{ team2?.teamName }}</span>
    <span *ngIf="team2Won" class="w-40 flex-row align-items-center justify-content-center position-absolute end-0">
      <img src="/assets/images/couronne.png" alt="winner" class="p-1">
    </span>
  </span>
</div>
