.date {
  color: var(--primary-100);
}

div > span {
  border: 2px solid var(--accent-default);
  background-color: var(--primary-default);
}

.cant-bet {
  cursor: not-allowed !important;
}

.nobet {
  color: var(--accent-default);
}

.nobet:hover:not(.cant-bet) {
  cursor: pointer;
  opacity: 85%;

  background-color: var(--valid-default);
  color: var(--valid-contrast-default);
}

.match-left, .match-right {
  width: 8rem;
  font-size: 1.2rem;
}

.match-left {
  border-radius: 0.5rem 0 0 0.5rem;
}

.match-right {
  border-radius: 0 0.5rem 0.5rem 0;
}

.winner {
  span {
    visibility: visible;
  }
}

.loser {
  opacity: 80%;
}

.bet {
  background-color: var(--primary-default);
  color: var(--valid-400);
}

img {
  width: 2rem;
}

@media only screen and (min-width: 900px) {
  div {
    max-width: 35vw !important;
  }
}
