<div class="flex-row">
  <div class="flex-column flex-fill pe-5">
    <label>Nom du tournois</label>
    <input type="text" [(ngModel)]="tournamentName" placeholder="Nom du tournois" />
  </div>
</div>

<div class="flex-row">
  <div class="flex-column flex-fill pe-5">
    <label>Date de début</label>
    <input type="datetime-local" [(ngModel)]="startDate" />
  </div>

  <div class="flex-column flex-fill ps-5">
    <label>Date de fin</label>
    <input type="datetime-local" [(ngModel)]="endDate" />
  </div>
</div>

<div class="flex-row flex-fill">
  <div class="flex-fill mw-50">
    <img [src]="avatar | cdnUrl:'/assets/images/lec-lol.jpg'" alt="Tournament image" class="mh-100 mw-100 pe-5" />
  </div>

  <div class="flex-column flex-fill mw-50 ps-5">
    <span>Changer la photo du tournoi :</span>
    <ng-container *ngIf="isNewTournament">
      <i>Vous pourrez ajouter une photo après avoir créé le tournoi.</i>
    </ng-container>
    <ng-container *ngIf="!isNewTournament">
      <input type="file" accept="image/*" (change)="handleAvatarChange($event)" />
    </ng-container>
  </div>
</div>

