:host {
  --progress-value: 0%;
  --progress-reverse-value: calc(100% - var(--progress-value));
}

div:first-child {
  border-radius: 0.3rem;
}

.progress {
  display: block;
  width: var(--progress-value);
  background-color: var(--primary-default);
  height: 2rem;
  border-radius: 0.1rem 0 0 0.1rem;
  max-width: 100%;
}

.progress-reverse {
  display: block;
  width: var(--progress-reverse-value);
  background-color: var(--valid-default);
  height: 2rem;
  border-radius: 0 0.1rem 0.1rem 0;
  max-width: 100%;
}

