<h1 class="text-align">Inscription</h1>

<form #form="ngForm" (ngSubmit)="formSubmitted()" class="flex-column align-items-center">
  <div class="flex-column align-items-center">
    <input #usernameInput="ngModel" name="username" placeholder="Username" type="text" [(ngModel)]="username" required />
    <span *ngIf="usernameInput.touched && !!usernameInput.errors && usernameInput.errors['required']" class="font-size-07">Le champ est obligatoire.</span>
  </div>
  <div class="flex-column align-items-center">
    <input #emailInput="ngModel" name="email" placeholder="Email" type="email" [(ngModel)]="email" email required />
    <span *ngIf="emailInput.touched && !!emailInput.errors && emailInput.errors['required']" class="font-size-07">Le champ est obligatoire.</span>
    <span *ngIf="emailInput.touched && !!emailInput.errors && emailInput.errors['email']" class="font-size-07">Email invalide</span>
  </div>
  <div class="flex-column align-items-center">
    <input #passwordInput="ngModel" name="password" placeholder="Password" type="password" [(ngModel)]="password" required />
    <span *ngIf="passwordInput.touched && !!passwordInput.errors && passwordInput.errors['required']" class="font-size-07">Le champ est obligatoire.</span>
  </div>
  <button type="submit" pickomenka-button class="button-big">S'inscrire</button>
</form>
