<h1 class="text-align">Les tournois</h1>

<div class="flex-wrap justify-content-center">
  <div *ngFor="let tournament of tournaments" class="flex-wrap justify-content-center">
    <shared-card [linkUrl]="['/tournament', tournament.tournamentId]"  [imgUrl]="(tournament.avatar | cdnUrl: '/assets/images/lec-lol.jpg')!" class="w-30rem">
      <h2>{{tournament.tournamentName}}</h2>
    </shared-card>
  </div>
</div>



