<div class="flex-row position-relative">
  <a *ngIf="!!tournament.previousTournamentId" class="position-absolute top-25 bottom-0 start-0 link" [routerLink]="['/tournament', tournament.previousTournamentId]">
    <img src="/assets/images/arrow.png" alt="arrow">
  </a>
  <h1 class="m-2 text-align">{{tournamentName}}</h1>
  <a *ngIf="!!tournament.nextTournamentId" class="position-absolute top-25 bottom-0 end-0 link" [routerLink]="['/tournament', tournament.nextTournamentId]">
    <img src="/assets/images/arrow.png" alt="arrow">
  </a>
</div>

<div class="flex-row justify-content-center gap-2">
  <button (click)="currentTab='matches'" [class.active]="currentTab === 'matches'" class="tab-button">Les matchs</button>
  <button (click)="currentTab='stats'" [class.active]="currentTab === 'stats'" class="tab-button">Les stats</button>
  <button (click)="currentTab='ranking'" [class.active]="currentTab === 'ranking'" class="tab-button">Le classement</button>
</div>

<tournament-matches *ngIf="currentTab === 'matches'" [tournament]="tournament"></tournament-matches>
<tournament-stats *ngIf="currentTab === 'stats'" class="flex-column align-items-center w-100" [tournament]="tournament" ></tournament-stats>
<tournament-ranking *ngIf="currentTab === 'ranking'" [tournament]="tournament"></tournament-ranking>
