div {
  margin-bottom: 3rem;
}

a img {
    width: 2rem;
    margin: 1rem;
}

a:first-child img {
  transform: rotate(90deg);
}

a:last-child img {
  transform: rotate(-90deg);
}

@media only screen and (min-width: 900px) {
  div {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
  }

}
