img {
  pointer-events: none;
}

div > span {
  transform: translateX(-50%);
}

@media only screen and (min-width: 900px) {
  div:first-child {
    display: flex;
    flex-direction: row-reverse;

    padding: 5rem 0 5rem 0;

    position: unset !important;
    justify-content: center;
    align-items: center;
    max-width: 100vw !important;
  }

  img {
    object-fit: cover;
    max-width: 40% !important;
    filter: blur(0) !important;
    border-radius: 0.5rem;
  }

  div > span {
    font-size: 4em !important;
    color: var(--primary-default);
    text-shadow: unset !important;
    position: unset !important;
    transform: unset !important;
    max-width: 40% !important;
    width: unset !important;
    padding: 1rem;
  }

}
