<div class="position-relative text-align">
  <img src="assets/images/cup.gif" alt="image presentation"
       class="vw-100 mw-100 mvh-80" >
  <span class="position-absolute color-white top-30 start-50 uppercase font-size-2-5 font-shadow-2 w-100">pick' omenka</span>
</div>

<h1 class="uppercase text-align p-5">Découvrir le site</h1>
<div class="flex-wrap justify-content-center">
  <shared-card *ngIf="!!nextTournament" [linkUrl]="['/tournament', nextTournament.tournamentId]" [imgUrl]="(nextTournament.avatar | cdnUrl: '/assets/images/lec-lol.jpg')!" class="w-30rem">
    <h2>{{nextTournament.tournamentName}}</h2>
  </shared-card>
  <shared-card [linkUrl]="['/tournament']" [imgUrl]="'/assets/images/lec-lol.jpg'" class="w-30rem">
    <h2>Voir tous les tournois</h2>
  </shared-card>
  <shared-card *ngIf="isAuthenticated" [linkUrl]="['/profile']" [imgUrl]="(avatarUser | cdnUrl: '/assets/images/gamer.jpg')!" class="w-30rem">
    <h2 class="p-3">Voir mon profil utilisateur</h2>
  </shared-card>
</div>
<div *ngIf="isAuthenticated" class="flex-column align-items-center">
  <h2 class="p-3">Classement</h2>
  <div class="flex-column align-items-center w-100">
    <img src="/assets/images/classement.png" alt="classement" class="w-100 w-100em">
  </div>
</div>
