<ng-container *ngIf="!!team">
  <div class="flex-row gap-5">
    <div class="flex-column flex-fill pe-5">
      <label>Nom de l'équipe</label>
      <input type="text" [(ngModel)]="teamName" placeholder="Nom de l'équipe" />
    </div>
  </div>

  <div class="flex-row flex-fill">
    <div class="flex-fill mw-50">
      <img [src]="team.avatar | cdnUrl:'/assets/images/lec-lol.jpg'" alt="Team image" class="mh-100 mw-100 pe-5" />
    </div>

    <div class="flex-column flex-fill mw-50 ps-5">
      <span>Changer la photo de l'équipe :</span>
      <ng-container *ngIf="isNewTeam">
        <i>Vous pourrez ajouter une photo après avoir créé l'équipe.</i>
      </ng-container>
      <ng-container *ngIf="!isNewTeam">
        <input type="file" accept="image/*" (change)="handleAvatarChange($event)" />
      </ng-container>
    </div>
  </div>
</ng-container>
