<div class="flex-column align-items-center position-relative m-4 h-25rem">
  <a [routerLink]='linkUrl' class="flex-column link mh-100 text-align m-2 h-100 mw-100 align-items-center">
    <img [src]='imgUrl' alt="card image" class="vw-80 mw-100">
    <span class="flex-column flex-fill justify-content-center mw-80">
      <ng-content></ng-content>
    </span>
  </a>
  <div class="h-100 position-absolute top-0"></div>
</div>
