a {
  background-color: rgb(236, 236, 236);
  color: var(--primary-default);
}

img {
  max-height: 12rem;
  object-fit: cover;
}

div>div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  inset: 1% 1.5rem;

  clip-path: polygon(
    0% 0%,
    0% 100%,
    100% 100%,
    100% 9%,
    90% 0);

  pointer-events: none;

}

@media only screen and (min-width: 900px) {
  div:first-child {
    height: 30rem !important;
  }
}
