.border-rounded {
  border-radius: .2rem;
}

.border-radius-20 {
  border-radius: 20%;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-2rem {
  border-radius: 2rem;
}

.border {
  border: 2px solid var(--primary-default);
}
