.color-white {
  color: var(--accent-default);
}

.color-black {
  color: var(--primary-default);
}

.color-pink {
  color: var(--valid-default);
}

.text-primary-contrast {
  color: var(--primary-contrast-default);
}

.bg-color-primary {
  background-color: var(--primary-default);
}
