.blur-1 {
  filter: blur(0.1rem);
}

.blur-2 {
  filter: blur(0.2rem);
}

.blur-3 {
  filter: blur(0.3rem);
}

.blur-4 {
  filter: blur(0.4rem);
}

.blur-5 {
  filter: blur(0.5rem);
}

.blur-6 {
  filter: blur(0.6rem);
}

.blur-7 {
  filter: blur(0.7rem);
}

.blur-4 {
  filter: blur(0.8rem);
}

.blur-4 {
  filter: blur(0.9rem);
}
