.flex-column {
  display: flex;
  flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-space-between {
  align-content: space-between !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: end !important;
}

/* ------------------- */
.display-none {
  display: none;
}

.display-grid {
  display: grid;
}
/* ------------------- */


@media (min-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }
}
