input, select {
  width: 25em;
  max-width: 90vw;
  font-family: Poppins, serif;

  padding: 0.5rem;
  margin: 0.5rem;

  border-top: none;
  border-left: none;
}

button {
  background-color: unset;
  color: var(--primary-default);

  font-family: Poppins, serif;
  font-size: 1rem;

  border: none;
  cursor: pointer;
}


.button-big:hover {
  opacity: 90%;
  cursor: pointer;
}

.button-big {
  width: 25em;
  max-width: 90vw;
  font-family: Poppins, serif;

  padding: 0.5rem;
  margin: 0.5rem;

  border-top: none;
  border-left: none;
}

.tab-button {
  border-bottom: 1px solid var(--primary-default);

  :hover {
    border-bottom: none;
    font-weight: bold;
  }

  &.active {
    border-bottom: 2px solid var(--primary-default);
  }
}
