.bottom-0 {
  bottom: 0 !important;
}


.end-0 {
  right: 0 !important;
}

.end-3 {
  right: 3%  !important;
}

.start-0 {
  left: 0 !important;
}

.start-25 {
  left: 25% !important;
}

.start-50 {
  left: 50% !important;
}

.start-100 {
  left: 100% !important;
}


.top-0 {
  top: 0 !important;
}

.top-25 {
  top: 25% !important;
}

.top-30 {
  top: 30% !important;
}

.top-50 {
  top: 50% !important;
}

.top-100 {
  top: 100% !important;
}


/* POSITION */
.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.position-sticky {
  position: sticky !important;
}
