/* HEIGHT */
/* vh */

.vh-25 {
  height: 25vh !important;
}
/* */

/* max height */
.mh-10 {
  max-height: 10% !important;
}

.mh-20 {
  max-height: 20% !important;
}

.mh-25 {
  max-height: 25% !important;
}

.mh-50 {
  max-height: 50% !important;
}


.mh-100 {
  max-height: 100% !important;
}

.mvh-80 {
  max-height: 80vh !important;
}

/* */

/* height */
.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-100 {
  height: 100% !important;
}

.h-25rem {
  height: 25rem !important;
}
/*




 */
/* WIDTH */
/* vw */
.vw-25 {
  width: 25vw !important;
}

.vw-40 {
  width: 40vw !important;
}

.vw-50 {
  width: 50vw !important;
}

.vw-100 {
  width: 100vw !important;
}

.vw-80 {
  width: 80vw !important;
}
/* */

/* max width */
.mw-100 {
  max-width: 100% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-80 {
  max-width: 80% !important;
}

.mvw-80 {
  max-width: 80vw !important;
}
/* */

/* width */

.w-20 {
  width: 20% !important;
}

.w-40 {
  width: 40% !important;
}

.w-30 {
  width: 30% !important;
}

.w-30rem {
  max-width: 30rem !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.w-5em {
  width: 5em !important;
}

.w-4rem {
  width: 4rem !important;
}

.w-3rem {
  width: 3rem !important;
}

.w-3-5rem {
  width: 3.5rem !important;
}

.w-2rem {
  width: 2rem !important;
}

.w-auto {
  width: auto !important;
}

.w-100em {
  width: 100em !important;
}
/* */

/* */
