.uppercase {
  text-transform: uppercase !important;
}

.font-lighter {
  font-weight: lighter;
}

.font-size-07 {
  font-size: 0.7rem;
}

.font-size-2-5 {
  font-size: 2.5rem !important;
}

.font-shadow-2 {
  text-shadow: 2px 2px black !important;
}

.text-align {
  text-align: center !important;
}

.link {
  text-decoration: none !important;
}

.link:hover {
  opacity: 85% !important;
}

.link-underline {
  text-decoration: underline !important;
}

.link-underline:hover {
  opacity: 85%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.bold {
  font-weight: bolder;
}
