<header *ngIf="!hideHeader" class="w-100 flex-row gap-4 display-none justify-content-between position-sticky top-0 ">
  <a [routerLink]="['/']" class="link color-white">Accueil</a>
  <div class="flex-row gap-4 color-white">
    <ng-container *ngIf="isAuthenticated">
      <a [routerLink]="['tournament']" class="link color-white">Pick'em</a>
      <a [routerLink]="['profile']" class="link color-white">Profil</a>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <a [routerLink]="['admin']" class="link color-white">Admin</a>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <a [routerLink]="['/register']" class="link color-white">S'inscrire</a>
      |
      <a [routerLink]="['/login']" class="link color-white">Se connecter</a>
    </ng-container>
  </div>
</header>

<div class="flex-fill">
  <router-outlet></router-outlet>
</div>

<footer *ngIf="!hideFooter" class="bg-color-primary color-white">
  <div class="text-align p-2">

    <h3 class="uppercase">pick'omenka</h3>

    <div class="flex-column p-5 gap-3">

      <a class="link-underline color-white" [routerLink]="['/']">Accueil</a>
      <span *ngIf="!isAuthenticated">
        <a class="link-underline color-white" [routerLink]="['/register']">S'inscrire</a>
        |
        <a class="link-underline color-white" [routerLink]="['/login']">Se connecter</a>
      </span>

      <a  *ngIf="isAuthenticated" class="link-underline color-white" [routerLink]="['profile']">Profil</a>
      <a  *ngIf="isAuthenticated" class="link-underline color-white" [routerLink]="['tournament']">Pick'em</a>
      <a  *ngIf="isAuthenticated" class="link-underline color-white" [routerLink]="['ranking']">Classement</a>
      <ng-container *ngIf="isAdmin">
        <a [routerLink]="['admin']" class="link-underline color-white">Admin</a>
      </ng-container>
      <a  *ngIf="isAuthenticated" class="link-underline color-white" [routerLink]="['logout']">Se déconnecter</a>
    </div>

    <p class="font-size-07 font-lighter p-2">Version {{version}}</p>
  </div>
</footer>
