footer {
  margin-top: 8rem;
}

@media only screen and (min-width: 900px) {
  header {
    display: flex;
    background-color: var(--primary-default);
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    z-index: 99;
  }
}
